wordpress/wp-admin
wordpress/wp-includes
wordpress/index.php
wordpress/license.txt
wordpress/readme.html
wordpress/wp-activate.php
wordpress/wp-blog-header.php
wordpress/wp-comments-post.php
wordpress/wp-config.php
wordpress/wp-cron.php
wordpress/wp-links-opml.php
wordpress/wp-load.php
wordpress/wp-login.php
wordpress/wp-mail.php
wordpress/wp-settings.php
wordpress/wp-signup.php
wordpress/wp-trackback.php
wordpress/xmlrpc.php
wordpress/wp-content/languages
wordpress/wp-content/index.php
wordpress/wp-content/themes/rsw_test/.sass-cache
wordpress/wp-content/themes/rsw_test/node_modules
react/node_modules
./vscode